.signup_form {
	background-color: #f8f9fa !important;
	box-shadow: 0 2px 5px 0 rgb(150, 182, 163), 2px 7px 0 rgb(230, 235, 232);
	max-width: 540px;
	align-items: center;
	margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
	border-radius: 10px;
	padding: 10px;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="file"] {
	border-radius: 12px;
}

#form-title {
	text-align: center;
	text-shadow: 2px 2px rgb(211, 205, 205);
}
#signup-btn:hover {
	transform: scale(1.05);
	transition: 500ms;
}
